.faq {
    border-top: 1px solid currentColor;
    display: flex;

    .text {
        flex: 0 0 60%;
        margin-left: auto;
        padding: 170px;
        padding-right: 0;
    }

    .abstract {
        flex: 0 0 40%;
    }
}
