.faq {
  display: flex;

  .text {
    flex: 0 0 60%;
    margin-left: auto;
    padding: 170px;
    padding-right: 0;

    @media only screen and (max-width: 1100px) {
      flex: 0 0 80%;
      padding: 60px;
    }

    @media only screen and (max-width: 500px) {
      flex: 1 0 0;
      padding: 64px 0 64px 30px;
      padding-right: 0;
    }
  }

  .abstract {
    position: relative;
    flex: 0 0 40%;

    @media only screen and (max-width: 1100px) {
      flex: 0 0 20%;
    }

    @media only screen and (max-width: 500px) {
      flex: 0 0 50px;
    }
  }
}

@media only screen and (min-width: 1101px) {
  .largeBlueMiniCloud1 {
    display: inline;
    left: 15%;
    top: 20%;
  }

  .largeWhiteEllipses1 {
    display: inline;
    top: 35%;
    left: 50%;
  }

  .largeSoftStar1 {
    display: inline;
    left: 15%;
    top: 55%;
  }

  .largeSoftStar2 {
    display: inline;
    left: 30%;
    top: 65%;
  }

  .largeOrangeSemiCircle1 {
    display: inline;
    right: 0%;
    top: 50%;
  }

  .largePurpleOval1 {
    display: inline;
    right: 10%;
    top: 80%;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 501px) {
  .mediumBlueMiniCloud1 {
    display: inline;
    left: 0%;
    top: 10%;
  }

  .mediumWhiteEllipses1 {
    display: inline;
    top: 20%;
    right: 20%;
  }

  .mediumSoftStar1 {
    display: inline;
    top: 35%;
    left: 5%;
  }

  .mediumSoftStar2 {
    display: inline;
    top: 42.5%;
    left: 35%;
  }

  .mediumOrangeSemiCircle1 {
    display: inline;
    top: 60%;
    right: 0%;
  }

  .mediumBlueEllipses1 {
    display: inline;
    top: 50%;
    left: 5%;
  }

  .mediumPurpleOval1 {
    display: inline;
    top: 80%;
    right: 25%;
  }
}

@media only screen and (max-width: 500px) {
  .smallPurpleFlower1 {
    display: inline;
    right: 60%;
    top: 5%;
  }

  .smallOrangeSemiCircle1 {
    display: inline;
    top: 40%;
    right: 0%;
  }

  .smallSoftStar1 {
    display: inline;
    top: 60%;
    right: 15%;
  }

  .smallSoftStar2 {
    display: inline;
    top: 70%;
    right: 5%;
  }

  .smallBlueEllipses1 {
    display: inline;
    top: 20%;
    right: 20%;
  }

  .smallPurpleOval1 {
    display: inline;
    bottom: 1%;
    right: 15%;
  }
}
