@mixin large-screen {
  @media screen and (min-width: 1800px), screen and (min-width: 1500px) and (min-height: 1100px) {
    @content;
  }
}

.hero {
  position: relative;

  width: 100%;
  height: 100vh;

  overflow: hidden;
  user-select: none;

  .header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #2C2C2C;
    text-align: center;

    h1 {
      font-size: 96px;
      font-weight: 700;

      background-color: white;
      padding: 0 80px;
      border-radius: 160px;
      border: 4px solid #2C2C2C;
      border-bottom: 16px solid #2C2C2C;

      margin-bottom: 20px;

      .animatingCharacter {
        transition: color .25s;

        &.plain {
          color: inherit !important;
        }
      }
    }

    h3 {
      font-size: 32px;

      margin-bottom: 20px;
    }

    h4 {
      text-transform: uppercase;
      font-size: 32px;
      font-weight: 400;

      margin-bottom: 20px;
    }

    .applyButton {
      font-size: 24px;
      font-weight: 600;
      text-decoration: none;
      color: white;
      background-color: #FF5E04;
      text-transform: uppercase;
      padding: 12px 24px;
      border-radius: 48px;
      border: 4px solid #2C2C2C;
      border-bottom: 8px solid #2C2C2C;
    }
  }
}
