/* Universal Reset */

* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #2C2C2C;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Typography */

h2 {
  font-size: 48px;
  padding: 0 40px;
  border-radius: 80px;
  border: 2px solid currentColor;
  border-bottom: 8px solid currentColor;
  display: inline-block;
  background-color: white;
}


@media only screen and (max-width: 1100px) {
  h2 {
    font-size: 32px;
    padding: 0 32px;
    border-radius: 64px;
    border: 2px solid currentColor;
    border-bottom: 8px solid currentColor;
  }
}

@media only screen and (max-width: 500px) {
  h2 {
    font-size: 20px;
    padding: 0 24px;
    border-radius: 48px;
    border: 2px solid currentColor;
    border-bottom: 8px solid currentColor;
  }
}

h3 {
  text-transform: uppercase;
  color: #FF5E04;
  font-weight: 600;
  font-size: 32px;
}

@media only screen and (max-width: 1100px) {
  h3 {
    font-size: 24px;
  }
}

@media only screen and (max-width: 500px) {
  h3 {
    font-size: 18px;
  }
}

p {
  font-size: 18px;
}

@media only screen and (max-width: 1100px) {
  p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 500px) {
  p {
    font-size: 12px;
  }
}

/* Utility */
.mb-small {
  margin-bottom: 20px;
}

@media only screen and (max-width: 1100px) {
  .mb-small {
    margin-bottom: 18px;
  }
}

.mb-large {
  margin-bottom: 64px;
}

@media only screen and (max-width: 1100px) {
  .mb-large {
    margin-bottom: 48px;
  }
}
